/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

params.norm_file = "NA"
params.prior_file = "NA"
params.n_mut_cutoff = 50
params.sig_activity_threshold = 0
params.cohort_threshold = 0
params.burnin = 10000
params.n_posterior = 100
params.space = 200
params.cpiter = 3
params.iterations = 15
params.cosine_sim_threshold = 0.9
params.max_iter_em = 1000
params.em_frac_threshold = 0.1

process {

    withName: 'RUN_HDP_CHAIN_SAMPLING' {
        ext.args     = "${params.prior_file} \
                        ${params.n_mut_cutoff} \
                        ${params.burnin} \
                        ${params.n_posterior} \
                        ${params.space} \
                        ${params.cpiter}"
        publishDir       = [
                enabled : false
        ]
    }

    withName: 'COMPARE_SIGNATURES' {
        ext.args     = "${params.cosine_sim_threshold} \
                        ${params.max_iter_em} \
                        ${params.em_frac_threshold}"
    }

    withName: 'PROCESS_HDP_RESULTS' {
        ext.args     = "${params.prior_file} \
                        ${params.n_mut_cutoff} \
                        ${params.sig_activity_threshold} \
                        ${params.cohort_threshold}"
        publishDir       = [
                enabled : false
        ]
    }

}
