/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: 'SUBSETMUTDENSITY' {
        ext.filters     = ''

        ext.output_fmt  = { ['"header": true',
                                '"columns": ["SAMPLE_ID",  "MUT_ID", "ALT_DEPTH", "canonical_SYMBOL", "TYPE"]',
                                '"colnames": ["SAMPLE_ID", "MUT_ID", "ALT_DEPTH", "GENE", "TYPE"]'
                            ].join(',\t').trim()
                        }

        publishDir       = [
                enabled : false
        ]
    }

    withName: 'SUBSETMUTDENSITYADJUSTED' {
        ext.filters     = { ['"TYPE": "SNV"'].join(',\t').trim()}

        ext.output_fmt  = { ['"header": true',
                                '"columns": ["SAMPLE_ID",  "MUT_ID", "ALT_DEPTH", "canonical_SYMBOL", "canonical_Consequence_broader", "TYPE"]',
                                '"colnames": ["SAMPLE_ID", "MUT_ID", "ALT_DEPTH", "GENE", "IMPACT", "TYPE"]'
                            ].join(',\t').trim()
                        }

        publishDir       = [
                enabled : false
        ]
    }

    withName: 'BBGTOOLS:DEEPCSA:MUTDENSITYPROT:SUBSETMUTDENSITY' {
        ext.filters     = { ['"Protein_affecting": "protein_affecting"'].join(',\t').trim()
                        }
        ext.output_fmt  = { ['"header": true',
                                '"columns": ["SAMPLE_ID",  "MUT_ID", "ALT_DEPTH", "canonical_SYMBOL", "TYPE"]',
                                '"colnames": ["SAMPLE_ID", "MUT_ID", "ALT_DEPTH", "GENE", "TYPE"]'
                            ].join(',\t').trim()
                        }

        publishDir       = [
                enabled : false
        ]
    }

    withName: '.*NONPROT:SUBSETMUTDENSITY' {
        ext.filters     = { ['"Protein_affecting": "non_protein_affecting"'].join(',\t').trim()
                        }
        ext.output_fmt  = { ['"header": true',
                                '"columns": ["SAMPLE_ID",  "MUT_ID", "ALT_DEPTH", "canonical_SYMBOL", "TYPE"]',
                                '"colnames": ["SAMPLE_ID", "MUT_ID", "ALT_DEPTH", "GENE", "TYPE"]'
                            ].join(',\t').trim()
                        }

        publishDir       = [
                enabled : false
        ]
    }

    withName: '.*SYNONYMOUS:SUBSETMUTDENSITY' {
        ext.filters     = { ['"canonical_Consequence_broader": "synonymous"'].join(',\t').trim()
                        }
        ext.output_fmt  = { ['"header": true',
                                '"columns": ["SAMPLE_ID",  "MUT_ID", "ALT_DEPTH", "canonical_SYMBOL", "TYPE"]',
                                '"colnames": ["SAMPLE_ID", "MUT_ID", "ALT_DEPTH", "GENE", "TYPE"]'
                            ].join(',\t').trim()
                        }

        publishDir       = [
                enabled : false
        ]
    }

    withName: 'SYNMUTDENSITY' {
        ext.mode     = 'mutations'
    }
    withName: 'SYNMUTREADSRATE' {
        ext.mode     = 'mutated_reads'
    }

}



