/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: 'SITECOMPARISON.*' {
        ext.size     = params.site_comparison_grouping
    }



    withName: 'SUBSETOMEGA' {
        ext.filters     = { ['"TYPE" : "SNV"'].join(',\t').trim()
                        }
        ext.output_fmt  = { ['"header": true',
                                '"columns": ["CHROM", "POS", "REF", "ALT", "SAMPLE_ID"]',
                                '"colnames": ["CHROM", "POS", "REF", "ALT", "SAMPLE_ID"]'
                            ].join(',\t').trim()
                        }

        publishDir       = [
                enabled : false
        ]
    }

    withName: 'SUBSETOMEGAMULTI' {
        ext.filters     = { ['"TYPE" : "SNV"'].join(',\t').trim()
                        }
        ext.output_fmt  = { ['"header": true',
                                '"columns": ["CHROM", "POS", "REF", "ALT", "SAMPLE_ID", "ALT_DEPTH"]',
                                '"colnames": ["CHROM", "POS", "REF", "ALT", "SAMPLE_ID", "EFFECTIVE_MUTS"]'
                            ].join(',\t').trim()
                        }

        publishDir       = [
                enabled : false
        ]
    }


    withName: '.*MULTI:SUBSETOMEGA' {
        ext.filters     = { ['"TYPE" : "SNV"'].join(',\t').trim()
                        }
        ext.output_fmt  = { ['"header": true',
                                '"columns": ["CHROM", "POS", "REF", "ALT", "SAMPLE_ID", "ALT_DEPTH"]',
                                '"colnames": ["CHROM", "POS", "REF", "ALT", "SAMPLE_ID", "EFFECTIVE_MUTS"]'
                            ].join(',\t').trim()
                        }

        publishDir       = [
                enabled : false
        ]
    }


    withName: "BBGTOOLS:DEEPCSA:OMEGAMULTI:.*" {
            ext.prefix       = { meta -> "${meta.id}.multi" }
    }

    withName: "BBGTOOLS:DEEPCSA:OMEGANONPROTMULTI:.*" {
            ext.prefix       = { meta -> "${meta.id}.non_prot_aff.multi" }
    }


    withName: "BBGTOOLS:DEEPCSA:OMEGA:.*GLOBALLOC" {
            ext.prefix       = { meta -> "${meta.id}.global_loc" }
    }

    withName: "BBGTOOLS:DEEPCSA:OMEGAMULTI:.*GLOBALLOC" {
            ext.prefix       = { meta -> "${meta.id}.multi.global_loc" }
    }

    withName: "BBGTOOLS:DEEPCSA:OMEGANONPROT:.*GLOBALLOC" {
            ext.prefix       = { meta -> "${meta.id}.non_prot_aff.global_loc" }
    }

    withName: "BBGTOOLS:DEEPCSA:OMEGANONPROTMULTI:.*GLOBALLOC" {
            ext.prefix       = { meta -> "${meta.id}.non_prot_aff.multi.global_loc" }
    }


    withName: 'PREPROCESSING' {
        ext.args        = ""
        publishDir       = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/omega/preprocessing" },
                pattern: "*{tsv}"
            ]
        ]
    }

    withName: 'ESTIMATOR' {
        ext.option      = 'mle'
        ext.args        = ""
        publishDir       = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/omega" },
                pattern: "*{tsv}"
            ]
        ]
    }

    withName: 'PLOTOMEGA' {
        ext.args        = ""
        publishDir       = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/omega/plot" },
                pattern: "**{pdf}"
            ]
        ]
    }


    withName: 'PREPROCESSINGGLOBALLOC' {
        ext.args        = ""
        ext.global_loc  = true
        publishDir       = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/omegagloballoc/preprocessing" },
                pattern: "*{tsv}"
            ]
        ]
    }

    withName: 'ESTIMATORGLOBALLOC' {
        ext.option      = 'mle'
        ext.args        = ""
        publishDir       = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/omegagloballoc" },
                pattern: "*{tsv}"
            ]
        ]
    }

    withName: 'PLOTOMEGAGLOBALLOC' {
        ext.args        = ""
        publishDir       = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/omegagloballoc/plot" },
                pattern: "**{pdf}"
            ]
        ]
    }


    withName: 'PREPROCESSING.*|ESTIMATOR.*' {
        ext.assembly = params.vep_genome == 'GRCh38' ? 'hg38' :
                        params.vep_genome == 'GRCm38' ? 'mm10' :
                        params.vep_genome == 'GRCm39' ? 'mm39' :
                        null // or some default value if none of the conditions are met
    }
}
