/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: 'SUBSETONCODRIVE3D' {
        ext.filters     = { ['"TYPE" : "SNV"'].join(',\t').trim() }
        ext.output_fmt  = { ['"header": true',
                                '"columns": ["SAMPLE_ID", "canonical_SYMBOL", "canonical_Consequence", "canonical_Amino_acids", "canonical_Protein_position", "MUT_ID"]',
                                '"colnames": ["Tumor_Sample_Barcode", "SYMBOL", "Consequence", "Amino_acids", "Protein_position", "MUT_ID"]'
                            ].join(',\t').trim()
                        }
        publishDir       = [
                enabled : false
        ]
    }

    withName: 'ONCODRIVE3D_PREPROCESSING' {
        publishDir       = [
                enabled : false
        ]
    }

    withName: 'ONCODRIVE3D_RUN' {
        ext.args        = "-s 128"
        ext.vep_raw     = params.o3d_raw_vep

        // TODO revise why this is false
        ext.mane        = false

        publishDir       = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/oncodrive3d/run" },
                pattern: "**{tsv,log,csv,json}"
            ]
//                enabled : false
        ]
    }


    withName: 'ONCODRIVE3D_PLOT' {
        publishDir       = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/oncodrive3d/plot" },
                pattern: "**{png,log,csv}"
            ]
//                enabled : false
        ]
    }

    withName: 'ONCODRIVE3D_PLOT_CHIMERAX' {
        publishDir       = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/oncodrive3d/plotchimerax" },
                pattern: "**{png,log,defattr}"
            ]
//                enabled : false
        ]
    }

}
