/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: 'BBGTOOLS:DEEPCSA:CREATEPANELS:VCFANNOTATEPANEL:ENSEMBLVEP_VEP' {
        ext.args   = "${params.vep_params_panel} --tab"
        publishDir = [
            enabled : false
        ]
        // publishDir = [
        //     [
        //         mode: params.publish_dir_mode,
        //         path: { "${params.outdir}/regions/panelannotation" },
        //         pattern: "*{gz}",
        //     ]
        // ]
    }

    withName: CUSTOMPROCESSING {
        ext.simple = true
    }

    withName: CUSTOMPROCESSINGRICH {
        ext.simple = false
    }

    withName: 'BBGTOOLS:DEEPCSA:CREATEPANELS:CREATECAPTUREDPANELS' {
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/regions/capturedpanels" },
                pattern: "*{tsv,bed}",
            ]
        ]
    }

    withName: 'BBGTOOLS:DEEPCSA:CREATEPANELS:CREATECONSENSUSPANELS.*' {
        ext.args         = "--consensus_min_depth ${params.consensus_panel_min_depth} \
                                --compliance_threshold ${params.consensus_compliance} "
        ext.genes_subset = params.selected_genes
        publishDir       = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/regions/consensuspanels" },
                pattern: "*{tsv,bed}",
            ]
        ]
    }

    withName: 'BBGTOOLS:DEEPCSA:ENRICHPANELS:EXPANDREGIONSALL' {
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/regions/expandedregions/" },
                pattern: "*{tsv,json}",
            ]
        ]
    }

    withName: 'BBGTOOLS:DEEPCSA:ENRICHPANELS:EXPANDREGIONSNONPROT' {
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/regions/expandedregions/" },
                pattern: "*{tsv,json}",
            ]
        ]
    }

    withName: 'BBGTOOLS:DEEPCSA:ENRICHPANELS:EXPANDREGIONSPROT' {
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/regions/expandedregions/" },
                pattern: "*{tsv,json}",
            ]
        ]
    }

    withName: 'BBGTOOLS:DEEPCSA:ENRICHPANELS:EXPANDREGIONSSYNONYMOUS' {
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/regions/expandedregions/" },
                pattern: "*{tsv,json}",
            ]
        ]
    }

    withName: 'BBGTOOLS:DEEPCSA:ENRICHPANELS:EXPANDREGIONSEXONS' {
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/regions/expandedregions/" },
                pattern: "*{tsv,json}",
            ]
        ]
    }
}
