
// Description: Configuration file for the regressions part of the analysis.
// This file contains the parameters for the regressions analysis, including
// the mutrate, omega, and oncodrivefml regressions, as well as the responses
// and samples subsets, predictors file, and other parameters.

params {
    mutrate_regressions                = null
    omega_regressions                  = null
    oncodrivefml_regressions           = null
    responses_subset_regressions       = '""'
    responses_excluded_regressions     = null
    samples_subset_regressions         = '""'
    predictors_file_regressions        = null
    predictors_plot_config_regressions = null
    random_effects_vars_regressions    = '""'
    multipletesting_join_regressions   = null
    multivariate_rules_regressions     = null
    response_subplots                  = false
    total_plot                         = false
    response_and_total_subplots        = true
    make2                              = true
    correct_pvals                      = true
    sign_threshold                     = 0.05
    missing_values                     = 'cohort'
}