// Description: Configuration file for the regressions part of the analysis.
// This file contains the parameters for the regressions analysis, including
// the mutdensity, omega, and oncodrivefml regressions, as well as the responses
// and samples subsets, predictors file, and other parameters.

params {

    bbg_mode = "default"
    bbgr_custom_config = null

    bbgr_mutdensity = false
    bbgr_mutdensity_config = "${projectDir}/assets/regressions/configs/mutdensity.yml"

    bbgr_omega = false
    bbgr_omega_config = "${projectDir}/assets/regressions/configs/omega.yml"

    bbgr_omegagloballoc = false
    bbgr_omegagloballoc_config = "${projectDir}/assets/regressions/configs/omegaglobal.yml"

    bbgr_metadata = null
    bbgr_metadata_sampleIDcol = null
    bbgr_predictors = null

}
