/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    bbglab/deepCSA Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Pipeline params
params {

    // Input options
    input                       = null
    fasta                       = null

    features_table              = null
    features_table_separator    = 'comma'
    features_table_dict         = ''

    custom_groups               = false
    custom_groups_file          = null
    custom_groups_separator     = 'tab'

    customize_annotation        = false
    custom_annotation_tsv       = ''

    use_custom_bedfile          = false
    custom_bedfile              = null
    use_custom_minimum_depth    = 0

    hotspots_annotation         = false
    hotspots_definition_file    = ''

    omega_hotspots              = false
    omega_hotspots_bedfile      = null
    hotspot_expansion           = 30

    oncodrivefml               = false
    oncodriveclustl            = false
    oncodrive3d                = false
    o3d_raw_vep                = false
    o3d_plot                   = false
    o3d_plot_chimerax          = false

    omega                      = false
    omega_multi                 = false
    omega_globalloc            = false
    omega_mutabilities         = false
    site_comparison_grouping   = 'all'
    omega_vaf_distorsioned     = false
    omega_plot                 = false

    signatures                 = false
    mutationrate               = false
    mutated_epithelium         = false
    mutated_epithelium_vaf     = false
    expected_mutation_rate      = false
    dnds                        = false

    indels                     = false

    profileall                 = false
    profilenonprot             = false
    profileexons               = false
    profileintrons             = false

    confidence_level           = 'high'
    all_duplex_counts          = false
    pileup_all_duplex          = false
    plot_depths                = false
    store_depths               = false

    downsample                  = false
    downsample_proportion       = 1

    regressions                        = false
    mutrate_regressions                = null
    omega_regressions                  = null
    oncodrivefml_regressions           = null
    responses_subset_regressions       = '""'
    responses_excluded_regressions     = null
    samples_subset_regressions         = '""'
    predictors_file_regressions        = null
    predictors_plot_config_regressions = null
    random_effects_vars_regressions    = '""'
    multipletesting_join_regressions   = null
    multivariate_rules_regressions     = null
    response_subplots                  = false
    total_plot                         = false
    response_and_total_subplots        = true
    make2                              = true
    correct_pvals                      = true
    sign_threshold                     = 0.05
    missing_values                      = 'cohort'


    // depth and panel
    sample_panel_min_depth     = 40
    consensus_panel_min_depth  = 500
    panel_with_canonical       = true

    germline_threshold         = 0.3
    mutation_depth_threshold   = 40

    repetitive_variant_thres   = 5
    prop_samples_nrich          = 0.1


    cosmic_ref_signatures      = "COSMIC_v3.4_SBS_GRCh38.txt"
    wgs_trinuc_counts          = "assets/trinucleotide_counts/trinuc_counts.homo_sapiens.tsv"
    cadd_scores                = "CADD/v1.7/hg38/whole_genome_SNVs.tsv.gz"
    cadd_scores_ind            = "CADD/v1.7/hg38/whole_genome_SNVs.tsv.gz.tbi"

    // dnds
    dnds_ref_transcripts        = "RefCDS_human_latest_intogen.rda"
    dnds_covariates             = "covariates_hg19_hg38_epigenome_pcawg.rda"

    // oncodrive3d
    datasets3d                 = "oncodrive3d/datasets"
    annotations3d              = "oncodrive3d/annotations"


    // sigprofiler
    // exclude_subgroups = ['MMR_deficiency_signatures', 'POL_deficiency_signatures', 'HR_deficiency_signatures',
    //                         'BER_deficiency_signatures', 'Chemotherapy_signatures', 'Immunosuppressants_signatures',
    //                         'Treatment_signatures', 'APOBEC_signatures', 'Tobacco_signatures', 'UV_signatures',
    //                         'AA_signatures', 'Colibactin_signatures','Artifact_signatures', 'Lymphoid_signatures']
    exclude_subgroups          = "['UV_signatures', 'MMR_deficiency_signatures', 'POL_deficiency_signatures', 'HR_deficiency_signatures','BER_deficiency_signatures', 'Artifact_signatures', 'Lymphoid_signatures']"


    // References for Ensembl VEP
    download_cache             = false

    vep_cache                  = ".vep"

    // Ensembl VEP for homo_sapiens
    vep_genome                 = "GRCh38"
    vep_species                = "homo_sapiens"
    vep_cache_version          = 111
    vep_out_format             = "tab"
    vep_params                 = "--no_stats --cache --offline --symbol --protein --canonical --af_gnomadg --af_gnomade"
    vep_params_panel           = "--no_stats --cache --offline --symbol --protein --canonical"


    // BED files for additional regional annotations
    low_complex_file     = "hg38_lowcomplexity_repetitive_regions.mutcoords.bed"
    low_mappability_file = "GRCh38.encode.blacklist.bed"

}

// Global default params, used in configs
params {

    // MultiQC options
    multiqc_config             = null
    multiqc_title              = null
    multiqc_logo               = null
    max_multiqc_email_size     = '25.MB'
    multiqc_methods_description = null

    // Boilerplate options
    outdir                     = null
    publish_dir_mode           = 'copy'
    email                      = null
    email_on_fail              = null
    plaintext_email            = false
    monochrome_logs            = false
    hook_url                   = null
    help                       = false
    version                    = false

    // Config options
    config_profile_name        = null
    config_profile_description = null

    // Max resource options
    // Defaults only, expecting to be overwritten
    max_memory                 = 256.GB
    max_cpus                   = 56
    max_time                   = 240.h

    validate_params            = true

}

// Schema validation default options
validation {
    failUnrecognisedParams = false
    lenientMode            = false
    ignoreParams           = ['genomes', 'igenomes_base']
    help {
        enabled = true
        command = "nextflow run bbglab/deepcsa --input input_file.csv --outdir /path/to/output -profile singularity,test"
        showHidden = false
    }

}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'



// Set default registry for Apptainer, Docker, Podman and Singularity independent of -profile
// Will not be used unless Apptainer / Docker / Podman / Singularity are enabled
// Set to your registry if you have a mirror of containers
apptainer.registry   = 'quay.io'
docker.registry      = 'quay.io'
podman.registry      = 'quay.io'
singularity.registry = 'quay.io'



profiles {
    debug {
        dumpHashes             = true
        process.beforeScript   = 'echo $HOSTNAME'
        cleanup                = false
    }
    conda {
        conda.enabled          = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    mamba {
        conda.enabled          = true
        conda.useMamba         = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    docker {
        docker.enabled         = true
        docker.userEmulation   = true
        conda.enabled          = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    arm {
        docker.runOptions = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        conda.enabled          = false
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    podman {
        podman.enabled         = true
        conda.enabled          = false
        docker.enabled         = false
        singularity.enabled    = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    shifter {
        shifter.enabled        = true
        conda.enabled          = false
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    charliecloud {
        charliecloud.enabled   = true
        conda.enabled          = false
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        apptainer.enabled      = false
    }
    apptainer {
        apptainer.enabled      = true
        apptainer.autoMounts   = true
        conda.enabled          = false
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    gitpod {
        executor.name          = 'local'
        executor.cpus          = 4
        executor.memory        = 8.GB
    }
    test            { includeConfig 'conf/test.config'              }
    test_full       { includeConfig 'conf/test_duplexome.config'    }
    irbcluster      { includeConfig 'conf/general_files_IRB.config' }
    bbgcluster      { includeConfig 'conf/general_files_BBG.config' }
    bladder         { includeConfig 'conf/bladder.config'           }
    chip            { includeConfig 'conf/chip.config'              }
    chip_dwnsyndr   { includeConfig 'conf/chip_dwnsyndr.config'     }
    chip_pancancer  { includeConfig 'conf/chip_pancancer.config'    }
    kidney          { includeConfig 'conf/kidney.config'            }
    kidney_bulk     { includeConfig 'conf/kidney_bulk.config'       }
    lung            { includeConfig 'conf/lung.config'              }
    mice            { includeConfig 'conf/mice.config'              }
    urine           { includeConfig 'conf/urine.config'             }
    local           { includeConfig 'conf/local.config'             }
}

// Set default registry for Apptainer, Docker, Podman and Singularity independent of -profile
// Will not be used unless Apptainer / Docker / Podman / Singularity are enabled
// Set to your registry if you have a mirror of containers
apptainer.registry   = 'quay.io'
docker.registry      = 'quay.io'
podman.registry      = 'quay.io'
singularity.registry = 'quay.io'

/*
*
* IMPORTANT: YOU MUST CHANGE THE DIRECTORY TO YOUR OWN cacheDir
*
*/
// Define the cacheDir for the singularity images
singularity.cacheDir = '/data/bbg/datasets/pipelines/nextflow_containers'
singularity.libraryDir = '/data/bbg/datasets/pipelines/nextflow_containers'


// Nextflow plugins
plugins {
    id 'nf-schema@2.3.0' // Validation of pipeline parameters and creation of an input channel from a sample sheet
}

// Export these variables to prevent local Python/R libraries from conflicting with those in the container
// The JULIA depot path has been adjusted to a fixed path `/usr/local/share/julia` that needs to be used for packages in the container.
// See https://apeltzer.github.io/post/03-julia-lang-nextflow/ for details on that. Once we have a common agreement on where to keep Julia packages, this is adjustable.

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

def trace_timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${trace_timestamp}.html"
}

manifest {
    name            = 'bbglab/deepCSA'
    author          = 'Ferriol Calvet'
    homePage        = 'https://github.com/bbglab/deepCSA'
    description     = 'deepCSA : deepClonalStructureAnalysis is a pipeline for the analysis of DNA sequencing data when there is information about the number of unique molecules sequenced for each site'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=24.04.0'
    version         = '1.0dev'
    doi             = ''
}

// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'



