config {
    testsDir "tests"

    // TODO: Change this to read for an environment variable instead of hardcoding it here?
    // Working files from the test
    workDir "/scratch/bbg/work/deepCSA/nf-tests"

    configFile "tests/nextflow.config"

    // Activate tests and singularity profiles while testing
    profile "test,singularity"

    // nf-core community modules have their own CI
    ignore 'modules/nf-core/**/*', 'subworkflows/nf-core/**/*'

    // load the necessary plugins
    plugins {
        load "nft-utils@0.0.3"
    }
}