/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

// config {
//     testsDir = "."
//     workDir = System.getenv("NFT_WORKDIR") ?: ".nf-test"
//     configFile = "tests/nextflow.config"
// }

params {
    outdir = 'output'
    input = "/data/bbg/datasets/transfer/ferriol_deepcsa/test/deepCSA_input.bladder_med.small_cohort.med.csv"
}
profiles {
    submit_irbcluster {
        process {
            executor = 'slurm'
            queue = 'bbg_cpu_zen4,irb_cpu_zen4'
            errorStrategy = 'retry'
            maxRetries = 0
        }
    }
}

singularity {
   cacheDir = '/data/bbg/datasets/pipelines/nextflow_containers'
   libraryDir = '/data/bbg/datasets/pipelines/nextflow_containers'
   autoMounts = true
   runOptions = '-B /data/bbg'
}

executor {
   queueSize = 600
}
