params {

    input  = '/workspace/nobackup/bladder_ts/results/2024-01-26_deepUMIcaller_allsamples/deepCSA_input.med.csv'

    // Fasta references
    fasta = '/workspace/datasets/genomes/GRCh38/clean_n_fixed_genome/GCA_000001405.15_GRCh38_no_alt_analysis_set.masked.fna'

    features_table           = "/workspace/projects/bladder_ts/data/complete_cohort/samples_metadata/complete_cohort_bladder.clinical_variables.no_transposed.nanASunknown.tsv"
    features_table_separator =  'tab'
    features_table_dict      =  ['"unique_identifier" : "SAMPLE_ID"',
                                    '"groups_of_interest" : [ ["BLADDER_LOCATION"], ["BLADDER_LOCATION", "SEX"], ["BLADDER_LOCATION", "SEX", "SMOKING_STATUS"] ]'
                                    ].join(',\t').trim()
                                    // '"groups_of_interest" : [ ["BLADDER_LOCATION"], ["BLADDER_LOCATION", "SEX"], ["BLADDER_LOCATION", "SEX", "CANCER_HISTORY"], ["BLADDER_LOCATION", "SEX", "SMOKING_STATUS"] ]'

    wgs_trinuc_counts   = "$projectDir/assets/trinucleotide_counts/trinuc_counts.homo_sapiens.tsv"

    vep_cache           = "/workspace/datasets/vep"


    oncodrivefml               = true
    oncodriveclustl            = false
    oncodrive3d                = true
    omega                      = true
    omega_globalloc            = true

    signatures                 = true
    mutationrate               = true
    mutated_epithelium         = true

    all_duplex_counts          = true
    pileup_all_duplex          = true

    consensus_panel_min_depth        = 500

}

