params {

    input  = '/workspace/nobackup2/prominent/bladder/2024-05-17_deepUMIcaller_allsamples_newasminusxs/deepCSA_input.med.double_bam_med.csv'

    // Fasta references
    fasta = '/workspace/datasets/genomes/GRCh38/clean_n_fixed_genome/GCA_000001405.15_GRCh38_no_alt_analysis_set.masked.fna'

    features_table           = "/workspace/projects/bladder_ts/data/complete_cohort/samples_metadata/complete_cohort_bladder.discarded_histofindings_lowmuts.clinical_variables_extended.no_transposed.nanASunknown.tsv"
    features_table_separator =  'tab'
    features_table_dict      =  ['"unique_identifier" : "SAMPLE_ID"',
                                    '"groups_of_interest" : [ ["BLADDER_LOCATION"], ["BLADDER_LOCATION", "SEX"], ["BLADDER_LOCATION", "SEX", "SMOKING_STATUS"] ]'
                                    ].join(',\t').trim()
                                    // '"groups_of_interest" : [ ["BLADDER_LOCATION"], ["BLADDER_LOCATION", "SEX"], ["BLADDER_LOCATION", "SEX", "CANCER_HISTORY"], ["BLADDER_LOCATION", "SEX", "SMOKING_STATUS"] ]'

    wgs_trinuc_counts   = "$projectDir/assets/trinucleotide_counts/trinuc_counts.homo_sapiens.tsv"

    vep_cache           = "/workspace/datasets/vep"


    confidence_level           = 'med'
    all_duplex_counts          = true
    pileup_all_duplex          = false

    oncodrivefml               = true
    oncodriveclustl            = true

    omega                      = true
    omega_globalloc            = true

    oncodrive3d                = true
    o3d_raw_vep                = true
    o3d_plot                   = true
    o3d_plot_chimerax          = false

    plot_depths                = false

    signatures                 = false
    mutationrate               = true
    mutated_epithelium         = false
    mutated_epithelium_vaf     = true

    indels                     = true

    profileall                 = true
    profilenonprot             = true
    profileexons               = false
    profileintrons             = false

    consensus_panel_min_depth  = 500


}
