params {

    input  = '/workspace/nobackup2/prominent/bladder/2024-05-17_deepUMIcaller_allsamples_newasminusxs/deepCSA_input.med.double_bam_med.csv'

    // Fasta references
    fasta = '/workspace/datasets/genomes/GRCh38/clean_n_fixed_genome/GCA_000001405.15_GRCh38_no_alt_analysis_set.masked.fna'

    features_table           = "/workspace/projects/bladder_ts/data/complete_cohort/samples_metadata/complete_cohort_bladder.discarded_histofindings_lowmuts.clinical_variables_extended.no_transposed.nanASunknown.tsv"
    features_table_separator =  'tab'
    features_table_dict      =  ['"unique_identifier" : "SAMPLE_ID"',
                                    '"groups_of_interest" : [ ["BLADDER_LOCATION"], ["BLADDER_LOCATION", "SEX"], ["BLADDER_LOCATION", "SEX", "SMOKING_STATUS"] ]'
                                    ].join(',\t').trim()
                                    // '"groups_of_interest" : [ ["BLADDER_LOCATION"], ["BLADDER_LOCATION", "SEX"], ["BLADDER_LOCATION", "SEX", "CANCER_HISTORY"], ["BLADDER_LOCATION", "SEX", "SMOKING_STATUS"] ]'

    wgs_trinuc_counts   = "$projectDir/assets/trinucleotide_counts/trinuc_counts.homo_sapiens.tsv"

    vep_cache           = "/workspace/datasets/vep"


    confidence_level           = 'med'
    all_duplex_counts          = true
    pileup_all_duplex          = false

    oncodrivefml               = true
    oncodriveclustl            = false

    omega                      = true
    omega_globalloc            = true
    omega_vaf_distorsioned     = false

    oncodrive3d                = false
    o3d_raw_vep                = false
    o3d_plot                   = false
    o3d_plot_chimerax          = false

    plot_depths                = false

    signatures                 = false
    mutationrate               = true
    mutated_epithelium         = false
    mutated_epithelium_vaf     = false

    indels                     = false

    profileall                 = true
    profilenonprot             = true
    profileexons               = false
    profileintrons             = false

    consensus_panel_min_depth  = 500

    regressions                = true
    mutrate_regressions                = 'mutrate,nonproteinaffecting,snv'
    oncodrivefml_regressions           = 'zscore,allprof,nosignificant'
    omega_regressions                  = 'allprof,uniquemuts,truncating-nonsynonymoussplice,nosignificant'
    responses_subset_regressions       = 'KMT2D,ARID1A,KDM6A,RBM10,EP300,STAG2,CREBBP,NOTCH2,FOXQ1,CDKN1A,KMT2C,TP53,RB1'
    predictors_file_regressions        = '/workspace/projects/bladder_ts/data/complete_cohort/samples_metadata/complete_cohort_bladder.discarded_histofindings_lowmuts.clinical_variables_extended.regressions-codified.tsv'
    predictors_plot_config_regressions = ['had_prior_chemotherapy': ['#FAEC82', 'Had prior chemotherapy'],'history_drinking': ['#C5FA8F', 'Was/is drinker'],'history_smoking': ['#B27DFA', 'Was/is smoker'],'bmi_scaled': ['#FACC79', 'BMI (0-1 scaled)'],'is_male': ['#9EC9F9', 'Is Male'],'age_decades': ['#F7645E', 'Age (decade)']]
    random_effects_vars_regressions    = 'SUBJECT_ID'
    multipletesting_join_regressions   = ['multipletest_rule1': ['truncating|nonsynonymoussplice', 'allprof', 'uniquemuts', 'nosignificant']]
    multivariate_rules_regressions     = ['multirule3': 'age_decades, bmi_scaled','multirule1': 'history_smoking, is_male','multirule2': 'history_smoking, age_decades']
    response_subplots                  = false
    total_plot                         = false
    response_and_total_subplots        = true
    make2                              = true
    correct_pvals                      = true
    sign_threshold                     = 0.2

}


process {
    withLabel:process_high_memory {
        memory = {  15.GB * task.attempt }
    }
}