params {

    input  = '/workspace/nobackup/ch_downsyndrome/deepCSA_input_downsyndrome_20240930.csv'

    // Fasta references
    fasta = '/workspace/datasets/genomes/GRCh38/clean_n_fixed_genome/GCA_000001405.15_GRCh38_no_alt_analysis_set.masked.fna'

    features_table           = "/workspace/nobackup/ch_downsyndrome/deepCSA_features_downsyndrome_20240930.tsv"
    features_table_separator =  'tab'
    features_table_dict      =  ['"unique_identifier" : "SAMPLE_ID"',
                                 '"groups_of_interest" : [ ["COHORT"]]'
                                 ].join(',\t').trim()
                                  // '"groups_of_interest" : [ ["COHORT"]]'

    wgs_trinuc_counts   = "$projectDir/assets/trinucleotide_counts/trinuc_counts.homo_sapiens.tsv"

    vep_cache           = "/workspace/datasets/vep"


    confidence_level           = 'med'
    all_duplex_counts          = true
    pileup_all_duplex          = false
    
    oncodrivefml               = false
    oncodriveclustl            = false

    omega                      = true
    omega_globalloc            = true

    oncodrive3d                = false
    o3d_raw_vep                = false
    o3d_plot                   = false
    o3d_plot_chimerax          = false

    plot_depths                = false

    signatures                 = false
    mutationrate               = true
    mutated_epithelium         = false
    mutated_epithelium_vaf     = false

    indels                     = false

    profileall                 = true
    profilenonprot             = false
    profileexons               = false
    profileintrons             = false

    consensus_panel_min_depth  = 500

    germline_threshold         = 0.4


}


process {
   withName:'BBG_DEEPCSA:MUTATEDEPITHELIUM:READSPERREGION' {
      memory = { 150.GB * task.attempt }
   }
}