params {

    input  = '/data/bbg/projects/prominent/esophagus/data/batch1/deepCSA_input.csv'


    // features_table           = "/workspace/projects/bladder_ts/data/complete_cohort/samples_metadata/complete_cohort_bladder.discarded_histofindings_lowmuts.clinical_variables_extended.no_transposed.nanASunknown.tsv"
    // features_table_separator =  'tab'
    // features_table_dict      =  ['"unique_identifier" : "SAMPLE_ID"',
    //                                 '"groups_of_interest" : [ ["BLADDER_LOCATION"], ["BLADDER_LOCATION", "SEX"], ["BLADDER_LOCATION", "SEX", "SMOKING_STATUS"] ]'
    //                                 ].join(',\t').trim()
    //                                 // '"groups_of_interest" : [ ["BLADDER_LOCATION"], ["BLADDER_LOCATION", "SEX"], ["BLADDER_LOCATION", "SEX", "CANCER_HISTORY"], ["BLADDER_LOCATION", "SEX", "SMOKING_STATUS"] ]'

    use_custom_minimum_depth    = 1
    apply_uniform_depth         = true

    confidence_level           = 'med'
    all_duplex_counts          = false
    pileup_all_duplex          = false
    store_depths               = false

    omega_withingene              = false


    oncodrivefml               = false
    oncodriveclustl            = false


    omega                      = false
    omega_globalloc            = false
    omega_vaf_distorsioned     = false

    oncodrive3d                = false
    o3d_raw_vep                = false
    o3d_plot                   = false
    o3d_plot_chimerax          = false

    plot_depths                = false

    signatures                 = false
    mutationrate               = false
    mutated_epithelium         = false
    mutated_epithelium_vaf     = false
    expected_mutation_rate     = false

    indels                     = false

    profileall                 = false
    profilenonprot             = false
    profileexons               = false
    profileintrons             = false

    consensus_panel_min_depth  = 1


}


process {
    withLabel:process_high_memory {
        memory = {  15.GB * task.attempt }
    }
}

process {
    withName: 'BBGTOOLS:DEEPCSA:DEPTHANALYSIS:COMPUTEDEPTHS' {
        cpus = 30  // Adjust this number based on your needs and available resources
    }
}
