params {

    input  = '/data/bbg/projects/prominent/esophagus/data/batch1/deepCSA_input.csv'


    features_table           = "/data/bbg/projects/prominent/esophagus/data/batch1/batch1_metadata.deepcsa.tsv"
    features_table_separator =  'tab'
    features_table_dict      =  ['"unique_identifier" : "sample_id"',
                                    '"groups_of_interest" : [ ["donor_id"], ["sex"], ["tobacco_ever"], ["alcohol_ever"], ["hot_liquids"] ]'
                                    ].join(',\t').trim()

    use_custom_minimum_depth    = 1
    apply_uniform_depth         = true

    confidence_level           = 'med'
    all_duplex_counts          = false
    pileup_all_duplex          = false
    store_depths               = false

    omega_withingene           = false


    oncodrivefml               = false
    oncodriveclustl            = false


    omega                      = true
    omega_globalloc            = true
    omega_vaf_distorsioned     = false

    oncodrive3d                = false
    o3d_raw_vep                = false
    o3d_plot                   = false
    o3d_plot_chimerax          = false

    plot_depths                = false

    signatures                 = false
    mutationrate               = true
    mutated_epithelium         = false
    mutated_epithelium_vaf     = false
    expected_mutation_rate     = false

    indels                     = false

    profileall                 = true
    profilenonprot             = true
    profileexons               = true
    profileintrons             = true

    consensus_panel_min_depth  = 1


}


process {
    withLabel:process_high_memory {
        memory = {  15.GB * task.attempt }
    }
}

process {
    withName: 'BBGTOOLS:DEEPCSA:DEPTHANALYSIS:COMPUTEDEPTHS' {
        cpus = 64  // Adjust this number based on your needs and available resources
    }
}
