// This configuration file is used to define the general parameters for the pipeline when ran in BBGCluster
params {

    vep_cache             = "/workspace/datasets/vep"

    // Fasta references
    fasta                 = '/workspace/datasets/genomes/GRCh38/clean_n_fixed_genome/GCA_000001405.15_GRCh38_no_alt_analysis_set.masked.fna'

    wgs_trinuc_counts     = "assets/trinucleotide_counts/trinuc_counts.homo_sapiens.tsv"

    cosmic_ref_signatures = "/workspace/datasets/transfer/ferriol_deepcsa/COSMIC_v3.4_SBS_GRCh38.txt"
    wgs_trinuc_counts     = "/workspace/datasets/transfer/ferriol_deepcsa/trinucleotide_counts/trinuc_counts.homo_sapiens.tsv"
    cadd_scores           = "/workspace/datasets/CADD/v1.7/hg38/whole_genome_SNVs.tsv.gz"
    cadd_scores_ind       = "/workspace/datasets/CADD/v1.7/hg38/whole_genome_SNVs.tsv.gz.tbi"

    dnds_ref_transcripts  = "/workspace/projects/prominent/analysis/dNdScv/data/reference_files/RefCDS_human_latest_intogen.rda"
    dnds_covariates       = "/workspace/projects/prominent/analysis/dNdScv/data/reference_files/covariates_hg19_hg38_epigenome_pcawg.rda"

    // oncodrive3d
    datasets3d            = "/workspace/nobackup/scratch/oncodrive3d/datasets_240506"
    annotations3d         = "/workspace/nobackup/scratch/oncodrive3d/annotations_240506"
    domains_file          = "/workspace/projects/prominent/dev/internal_development/domains/o3d_pfam_parsed.tsv"
}


// Define the cacheDir for the singularity images
singularity.cacheDir = '/workspace/datasets/pipelines/nextflow_containers'
singularity.libraryDir = '/workspace/datasets/pipelines/nextflow_containers'
