params {

    // Fasta references
    fasta = '/data/bbg/datasets/genomes/GRCh38/clean_n_fixed_genome/GCA_000001405.15_GRCh38_no_alt_analysis_set.masked.fna'

    wgs_trinuc_counts   = "$projectDir/assets/trinucleotide_counts/trinuc_counts.homo_sapiens.tsv"

    low_complex_file            = "/data/bbg/datasets/genomes/GRCh38/masking_bedfiles/hg38_lowcomplexity_repetitive_regions.mutcoords.bed"
    low_mappability_file        = "/data/bbg/datasets/genomes/GRCh38/masking_bedfiles/blacklist/GRCh38.encode.blacklist.bed"

    cosmic_ref_signatures       = "/data/bbg/datasets/transfer/ferriol_deepcsa/COSMIC_v3.4_SBS_GRCh38.txt"
    wgs_trinuc_counts           = "/data/bbg/datasets/transfer/ferriol_deepcsa/trinucleotide_counts/trinuc_counts.homo_sapiens.tsv"
    cadd_scores                 = "/data/bbg/datasets/CADD/v1.6/hg38/whole_genome_SNVs.tsv.gz"

    vep_cache                   = "/data/bbg/datasets/vep"

    // oncodrive3d
    datasets3d                  = "/data/bbg/nobackup/scratch/oncodrive3d/datasets_240506"
    annotations3d               = "/data/bbg/nobackup/scratch/oncodrive3d/annotations_240506"


}


// Define the cacheDir for the singularity images
singularity.cacheDir = '/data/bbg/datasets/pipelines/nextflow_containers'
singularity.libraryDir = '/data/bbg/datasets/pipelines/nextflow_containers'
