// This configuration file is used to define the general parameters for the pipeline when ran in IRBCluster
params {

    vep_cache             = "/data/bbg/datasets/vep"

    // Fasta references
    fasta                 = '/data/bbg/datasets/genomes/GRCh38/clean_n_fixed_genome/GCA_000001405.15_GRCh38_no_alt_analysis_set.masked.fna'

    cosmic_ref_signatures = "/data/bbg/datasets/COSMIC_signatures/COSMIC_v3.5_SBS_GRCh38.txt"
    indel_ref_signatures  = "/data/bbg/datasets/COSMIC_signatures/COSMIC_v3.5_ID_GRCh37.txt"

    wgs_trinuc_counts     = "/data/bbg/datasets/pipelines/deepCSA/reference_datasets/trinuc_counts.homo_sapiens.tsv"
    cadd_scores           = "/data/bbg/datasets/CADD/v1.7/hg38/whole_genome_SNVs.tsv.gz"
    cadd_scores_ind       = "/data/bbg/datasets/CADD/v1.7/hg38/whole_genome_SNVs.tsv.gz.tbi"

    dnds_biomart_ref      = "/data/bbg/datasets/pipelines/deepCSA/reference_datasets/dNdScv_reference/homo_sapiens.v111.MANE.biomart.tsv"
    dnds_covariates       = "/data/bbg/datasets/pipelines/deepCSA/reference_datasets/dNdScv_covariates/covariates_hg19_hg38_epigenome_pcawg.rda"

    // oncodrive3d
    datasets3d            = "/data/bbg/datasets/oncodrive3d/datasets/datasets-260603"
    annotations3d         = "/data/bbg/datasets/oncodrive3d/annotations/annotations-260603"
    domains_file          = "/data/bbg/projects/prominent/dev/internal_development/domains/bbgdomains.v2025.annotated_deepCSA.tsv"

    // Nanoseq masks
    nanoseq_snp           = "/data/bbg/datasets/genomes/GRCh38/masking_bedfiles/nanoseq_masks/SNP_GRCh38.wgns.bed.gz"
    nanoseq_noise         = "/data/bbg/datasets/genomes/GRCh38/masking_bedfiles/nanoseq_masks/NOISE_GRCh38.wgns.bed.gz"

    omega_covariates_cov_file   = "${projectDir}/assets/omega-covariates/covariates_hg19_hg38_epigenome_pcawg.tsv"
}


// Define the cacheDir for the singularity images
singularity.cacheDir = '/data/bbg/datasets/pipelines/nextflow_containers'
singularity.libraryDir = '/data/bbg/datasets/pipelines/nextflow_containers'
