params {


    features_table           = "/data/bbg/projects/prominent/kidney/data/deepCSA_inputs/metadata/2025-03-09.KidneyLCMs_linked_metadata.no_artifacts.tsv"
    features_table_separator =  'tab'
    features_table_dict      =  ['"unique_identifier" : "SAMPLE_ID"',
                                    '"groups_of_interest" : [ ["obesity"], ["hypert"], ["sex"], ["obesity", "hypert", "sex"], ["obesity", "hypert"], ["obesity", "sex"], ["hypert", "sex"], ["age_group"] ]'
                                    ].join(',\t').trim()
                                    // '"groups_of_interest" : [ ["sex"],["country"],["tobacco"],["alcohol"],["hypert"],["diabetes"],["hypert","diabetes"],["loss_3p"],["gain_5q"],["bmi_group"],["age_group"],["region_summary"],["cells_summary"],["AA_exposure"] ]'


    custom_groups               = false
    custom_groups_file          = "/data/bbg/datasets/transfer/ferriol_deepcsa/gene_groups/2024-07-29.reactome_n3p.gene_groups.tsv"
    custom_groups_separator     = 'tab'

    use_custom_bedfile          = false
    custom_bedfile              = '/data/bbg/datasets/prominent/metadata/regions/data/pipeline_bedfile/pancancer/PanCancerPanel.original.hg38.chr.expanded250.bed6.bed'
    use_custom_minimum_depth    = 50

    confidence_level           = 'med'
    all_duplex_counts          = true
    pileup_all_duplex          = false

    oncodrivefml               = true
    oncodriveclustl            = false

    omega                      = true
    omega_globalloc            = true
    omega_plot                 = true

    oncodrive3d                = true
    o3d_raw_vep                = true
    o3d_plot                   = true
    o3d_plot_chimerax          = false

    plot_depths                = true

    signatures                 = true
    mutationrate               = true
    mutated_cells_vaf          = false
    expected_mutated_cells     = false

    indels                     = true

    profileall                 = true
    profilenonprot             = false
    profileexons               = false
    profileintrons             = false

    consensus_panel_min_depth  = 100

    cosmic_ref_signatures      = "/data/bbg/datasets/transfer/ferriol_deepcsa/signatures_references/tissue_specific/KidneySignatures.COSMIC_v3.4_SBS_GRCh38.plusBotSeq.txt"

}

