params {

    input  = '/workspace/nobackup/prominent/kidney/analysis/deepCSA_input.med.csv'

    // Fasta references
    fasta = '/workspace/datasafe/prominent/refs/gatk/Homo_sapiens_assembly38.fasta'

    // features_table           = "/workspace/projects/bladder_ts/data/complete_cohort/samples_metadata/complete_cohort_bladder.clinical_variables.no_transposed.nanASunknown.tsv"
    // features_table_separator =  'tab'
    // features_table_dict      =  ['"unique_identifier" : "SAMPLE_ID"',
    //                                 '"groups_of_interest" : [ ["BLADDER_LOCATION"], ["BLADDER_LOCATION", "SEX"], ["BLADDER_LOCATION", "SEX", "SMOKING_STATUS"] ]'
    //                                 ].join(',\t').trim()
    //                                 // '"groups_of_interest" : [ ["BLADDER_LOCATION"], ["BLADDER_LOCATION", "SEX"], ["BLADDER_LOCATION", "SEX", "CANCER_HISTORY"], ["BLADDER_LOCATION", "SEX", "SMOKING_STATUS"] ]'

    wgs_trinuc_counts   = "$projectDir/assets/trinucleotide_counts/trinuc_counts.homo_sapiens.tsv"

    vep_cache           = "/workspace/datasets/vep"


    oncodrivefml               = true
    oncodriveclustl            = true
    oncodrive3d                = true
    omega                      = true
    signatures                 = true
    mutationrate               = true

    profileall                 = true
    profilenonprot             = true
    profileexons               = true
    profileintrons             = true

    consensus_min_depth        = 300


}

