params {

    input  = '/data/bbg/nobackup/prominent/kidney/deepCSA_input.bulk.med.csv'


    features_table           = "/data/bbg/datasets/prominent/metadata/kidney/2024-05-03.KidneyPanel_linked_metadata.tsv"
    features_table_separator =  'tab'
    features_table_dict      =  ['"unique_identifier" : "SAMPLE_ID"',
                                    '"groups_of_interest" : [ ["sex"],["country"],["tobacco"],["alcohol"],["hypert"],["diabetes"],["hypert","diabetes"],["bmi_group"],["age_group"],["AA_exposure"] ]'
                                    ].join(',\t').trim()
                                    // '"groups_of_interest" : [ ["sex"],["country"],["tobacco"],["alcohol"],["hypert"],["diabetes"],["hypert","diabetes"],["loss_3p"],["gain_5q"],["bmi_group"],["age_group"],["region_summary"],["cells_summary"],["AA_exposure"] ]'


    // exclude_subgroups = ['MMR_deficiency_signatures', 'POL_deficiency_signatures', 'HR_deficiency_signatures',
    //                         'BER_deficiency_signatures', 'Chemotherapy_signatures', 'Immunosuppressants_signatures',
    //                         'Treatment_signatures', 'APOBEC_signatures', 'Tobacco_signatures', 'UV_signatures',
    //                         'AA_signatures', 'Colibactin_signatures','Artifact_signatures', 'Lymphoid_signatures']
    exclude_subgroups = "[]"//"['UV_signatures', 'POL_deficiency_signatures', 'Chemotherapy_signatures', 'Treatment_signatures', 'Immunosuppressants_signatures', 'Colibactin_signatures', 'HR_deficiency_signatures','BER_deficiency_signatures', 'Artifact_signatures', 'Lymphoid_signatures']"

    custom_groups               = false
    custom_groups_file          = "/data/bbg/datasets/transfer/ferriol_deepcsa/gene_groups/2024-07-29.reactome_n3p.gene_groups.tsv"
    custom_groups_separator     = 'tab'

    use_custom_bedfile          = false
    custom_bedfile              = '/data/bbg/datasets/prominent/metadata/regions/data/seq_panels/kidney/KidneyPanelTargets.original.hg38.bed4.bed'
    use_custom_minimum_depth    = 20

    confidence_level           = 'med'
    all_duplex_counts          = true
    pileup_all_duplex          = false

    oncodrivefml               = true
    oncodriveclustl            = false

    omega                      = true
    omega_globalloc            = true
    omega_plot                 = true

    oncodrive3d                = true
    o3d_raw_vep                = true
    o3d_plot                   = true
    o3d_plot_chimerax          = false

    plot_depths                = true

    signatures                 = true
    mutationrate               = true
    mutated_cells_reads         = false
    mutated_cells_vaf     = true
    expected_mutated_cells     = true

    indels                     = true

    profileall                 = true
    profilenonprot             = false
    profileexons               = false
    profileintrons             = false

    consensus_panel_min_depth  = 500

}

