params {

    input  = '/workspace/nobackup/prominent/kidney/analysis/deepCSA_input.med.csv'

    // Fasta references
    fasta = '/workspace/datasafe/prominent/refs/gatk/Homo_sapiens_assembly38.fasta'

    features_table           = "/workspace/datasets/prominent/metadata/kidney/2024-05-03.KidneyPanel_linked_metadata.tsv"
    features_table_separator =  'tab'
    features_table_dict      =  ['"unique_identifier" : "SAMPLE_ID"',
                                    '"groups_of_interest" : [ ["sex"],["country"],["tobacco"],["alcohol"],["hypert"],["diabetes"],["hypert","diabetes"],["loss_3p"],["gain_5q"],["bmi_group"],["age_group"],["region_summary"],["cells_summary"],["AA_exposure"] ]'
                                    ].join(',\t').trim()
    wgs_trinuc_counts   = "$projectDir/assets/trinucleotide_counts/trinuc_counts.homo_sapiens.tsv"

    vep_cache           = "/workspace/datasets/vep"


    // exclude_subgroups = ['MMR_deficiency_signatures', 'POL_deficiency_signatures', 'HR_deficiency_signatures',
    //                         'BER_deficiency_signatures', 'Chemotherapy_signatures', 'Immunosuppressants_signatures',
    //                         'Treatment_signatures', 'APOBEC_signatures', 'Tobacco_signatures', 'UV_signatures',
    //                         'AA_signatures', 'Colibactin_signatures','Artifact_signatures', 'Lymphoid_signatures']
    exclude_subgroups = "[]"//"['UV_signatures', 'POL_deficiency_signatures', 'Chemotherapy_signatures', 'Treatment_signatures', 'Immunosuppressants_signatures', 'Colibactin_signatures', 'HR_deficiency_signatures','BER_deficiency_signatures', 'Artifact_signatures', 'Lymphoid_signatures']"



    oncodrivefml               = true
    oncodriveclustl            = false
    oncodrive3d                = false
    omega                      = true
    omega_globalloc            = true
    signatures                 = true
    mutationrate               = true

    profileall                 = true
    profilenonprot             = true
    profileexons               = true
    profileintrons             = true

    consensus_panel_min_depth        = 300


}

