params {

    input  = '/workspace/nobackup/prominent/lung_collab/analysis/deepCSA_input.med.double_bam.csv'

    // Fasta references
    fasta = '/workspace/datasets/genomes/GRCh38/clean_n_fixed_genome/GCA_000001405.15_GRCh38_no_alt_analysis_set.masked.fna'


    features_table           = "/workspace/nobackup/prominent/lung_collab/data/2024-06-05.clinical_data_merged.166.clean.tsv"
    features_table_separator =  'tab'
    features_table_dict      =  ['"unique_identifier" : "SAMPLE_ID"',
                                    '"groups_of_interest" : [ ["cohort"], ["smoking_status", "cohort" ], ["smoking_status"], ["smoking_status_baseline"]]'
                                    ].join(',\t').trim()

    // exclude_subgroups = ['MMR_deficiency_signatures', 'POL_deficiency_signatures', 'HR_deficiency_signatures',
    //                         'BER_deficiency_signatures', 'Chemotherapy_signatures', 'Immunosuppressants_signatures',
    //                         'Treatment_signatures', 'APOBEC_signatures', 'Tobacco_signatures', 'UV_signatures',
    //                         'AA_signatures', 'Colibactin_signatures','Artifact_signatures', 'Lymphoid_signatures']
    exclude_subgroups = "['UV_signatures', 'Colibactin_signatures', 'Artifact_signatures', 'Lymphoid_signatures', 'AA_signatures']"
    // exclude_subgroups = "[]"


    confidence_level           = 'med'
    all_duplex_counts          = true
    pileup_all_duplex          = false
    plot_depths                = false

    consensus_panel_min_depth  = 40
    panel_with_canonical       = true

    oncodrivefml               = false
    oncodriveclustl            = false

    omega                      = false
    omega_globalloc            = false
    omega_vaf_distorsioned     = false

    oncodrive3d                = false
    o3d_raw_vep                = false
    o3d_plot                   = false
    o3d_plot_chimerax          = false

    signatures                 = false
    mutationrate               = false
    mutated_epithelium         = false
    mutated_epithelium_vaf     = false

    indels                     = false

    profileall                 = false
    profilenonprot             = false
    profileexons               = false
    profileintrons             = false

}
