params {

    input  = '/workspace/nobackup/prominent/lung_collab/2024-05-19_firsthalf/deepCSA_input.med.pileup.csv'

    // Fasta references
    fasta = '/workspace/datasets/genomes/GRCh38/clean_n_fixed_genome/GCA_000001405.15_GRCh38_no_alt_analysis_set.masked.fna'

    // features_table           = "/workspace/datasets/prominent/metadata/kidney/2024-05-03.KidneyPanel_linked_metadata.tsv"
    // features_table_separator =  'tab'
    // features_table_dict      =  ['"unique_identifier" : "SAMPLE_ID"',
    //                                 '"groups_of_interest" : [ ["sex"],["country"],["tobacco"],["alcohol"],["hypert"],["diabetes"],["hypert","diabetes"],["gain_5q"],["bmi_group"],["age_group"],["AA_exposure"] ]'
    //                                 ].join(',\t').trim()

    // exclude_subgroups = ['MMR_deficiency_signatures', 'POL_deficiency_signatures', 'HR_deficiency_signatures',
    //                         'BER_deficiency_signatures', 'Chemotherapy_signatures', 'Immunosuppressants_signatures',
    //                         'Treatment_signatures', 'APOBEC_signatures', 'Tobacco_signatures', 'UV_signatures',
    //                         'AA_signatures', 'Colibactin_signatures','Artifact_signatures', 'Lymphoid_signatures']
    exclude_subgroups = "[]"//"['UV_signatures', 'POL_deficiency_signatures', 'Chemotherapy_signatures', 'Treatment_signatures', 'Immunosuppressants_signatures', 'Colibactin_signatures', 'HR_deficiency_signatures','BER_deficiency_signatures', 'Artifact_signatures', 'Lymphoid_signatures']"


    confidence_level           = 'med'
    all_duplex_counts           = true


    oncodrivefml               = true
    oncodriveclustl            = false
    oncodrive3d                = false
    omega                      = true
    omega_globalloc            = true

    signatures                 = true
    mutationrate               = true
    mutated_epithelium         = false


    profileall                 = true
    profilenonprot             = true
    profileexons               = false
    profileintrons             = false

    consensus_panel_min_depth  = 40


}

