params {
    config_profile_name        = 'Mice profile'
    config_profile_description = 'Running deepCSA for mice data'

    // Input data
    input  = '/workspace/nobackup2/prominent/ucsf_mice/deepUMIcaller/deepCSA_input.med.double_bam.csv'

    // Fasta references
    fasta = '/workspace/datasets/genomes/mm39/GCA_000001635.9_genome/GCA_000001635.9_GRCm39_genomic.fna'

    features_table           = "/workspace/nobackup2/prominent/ucsf_mice/2024-08-07_clinical_features_summary.tsv"
    features_table_separator =  'tab'
    features_table_dict      = ['"unique_identifier" : "sample"',
                                    '"groups_of_interest" : [ ["DMBA"], ["TPA"], ["treatment"], ["sex"] ]'
                                    ].join(',\t').trim()

    use_custom_minimum_depth    = 5


    wgs_trinuc_counts   = "$projectDir/assets/trinucleotide_counts/trinuc_counts.mus_musculus.mm39.tsv"

    vep_genome          = "GRCm39"
    vep_cache_version   = 111
    vep_out_format      = "tab"
    vep_params          = "--no_stats --cache --offline --symbol --protein --canonical"
    vep_species         = "mus_musculus"
    vep_cache           = "/workspace/datasets/vep/mus_musculus/111_GRCm39"


    omega_hotspots              = true
    omega_hotspots_bedfile      = "/workspace/datasets/transfer/ferriol_deepcsa/mouse_skin_panel.hotspots.bed4.bed"
    hotspot_expansion           = 30


    oncodrivefml               = false
    oncodriveclustl            = true
    oncodrive3d                = false
    o3d_raw_vep                = false
    o3d_plot                   = false
    o3d_plot_chimerax          = false

    omega                      = true
    omega_globalloc            = true
    omega_vaf_distorsioned     = false
    omega_plot                  = false


    signatures                 = true
    mutationrate               = true
    mutated_epithelium         = false
    mutated_epithelium_vaf     = true

    indels                     = true

    profileall                 = true
    profilenonprot             = false
    profileexons               = false
    profileintrons             = false

    confidence_level           = 'med'
    all_duplex_counts          = false
    pileup_all_duplex          = true
    plot_depths                = false


    // depth and panel
    sample_panel_min_depth     = 40
    consensus_panel_min_depth  = 500
    panel_with_canonical       = true

    germline_threshold         = 0.3
    mutation_depth_threshold   = 40

    repetitive_variant_thres   = 5

}


process {
    withLabel:process_high_memory {
        memory = {  15.GB * task.attempt }
    }
}
