params {
    config_profile_name        = 'Mice profile'
    config_profile_description = 'Running deepCSA for mice data'

    // Input data
    input  = '/data/bbg/nobackup2/prominent/ucsf_mice/deepUMIcaller/deepCSA_input.med.csv'

    // Fasta references
    fasta = '/data/bbg/datasets/genomes/mm39/GCA_000001635.9_genome/GCA_000001635.9_GRCm39_genomic.fna'

    features_table           = "/data/bbg/nobackup2/prominent/ucsf_mice/2024-10-17_clinical_features_summary.tsv"
    features_table_separator =  'tab'
    features_table_dict      = ['"unique_identifier" : "sample"',
                                    '"groups_of_interest" : [ ["DMBA"], ["TPA"], ["treatment"], ["sex"], ["timepoint"], ["timepoint", "treatment"], ["timepoint", "TPA"], ["timepoint", "DMBA"] ]'
                                    ].join(',\t').trim()

    use_custom_minimum_depth    = 30


    wgs_trinuc_counts   = "$projectDir/assets/trinucleotide_counts/trinuc_counts.mus_musculus.mm39.tsv"

    vep_genome          = "GRCm39"
    vep_cache_version   = 111
    vep_out_format      = "tab"
    vep_params          = "--no_stats --cache --offline --symbol --protein --canonical"
    vep_species         = "mus_musculus"
    vep_cache           = "/data/bbg/datasets/vep/mus_musculus/111_GRCm39"


    // oncodrive3d
    datasets3d                 = "/data/bbg/nobackup/scratch/oncodrive3d/datasets_mouse"
    // annotations3d              = "/workspace/nobackup/scratch/oncodrive3d/annotations_240506"

    omega_withingene              = false
    omega_subgenic_bedfile      = "/data/bbg/datasets/transfer/ferriol_deepcsa/mouse_skin_panel.hotspots.bed4.bed"
    hotspot_expansion           = 15


    oncodrivefml               = false
    oncodriveclustl            = false
    oncodrive3d                = false
    o3d_raw_vep                = false
    // o3d_plot                   = false
    // o3d_plot_chimerax          = false

    omega                      = true
    omega_globalloc            = true
    omega_vaf_distorsioned     = false
    omega_plot                 = true


    signatures                 = true
    mutationdensity               = true
    mutated_cells_vaf     = false

    indels                     = false

    profileall                 = true
    profilenonprot             = false
    profileexons               = false
    profileintrons             = false

    confidence_level           = 'med'
    all_duplex_counts          = false
    pileup_all_duplex          = true
    plot_depths                = true


    // depth and panel
    sample_panel_min_depth     = 40
    consensus_panel_min_depth  = 500
    panel_with_canonical       = true

    germline_threshold         = 0.3
    mutation_depth_threshold   = 40

    repetitive_variant_thres   = 5

}


process {
    withLabel:process_high_memory {
        memory = {  15.GB * task.attempt }
    }
}
