params {
    config_profile_name        = 'Mice profile'
    config_profile_description = 'Running deepCSA for mice data'

    // Input data
    input  = '/workspace/nobackup/prominent/mice/results/2024-02-04_deepUMIcaller/deepCSA_input.med.csv'

    // Fasta references
    fasta = '/workspace/datasets/prominent/data/eve_data/mm10.fasta'

    features_table           = "/workspace/datasets/prominent/data/ucsf_mice/2023_batch1/sample_features_table.tsv"
    features_table_separator =  'tab'
    features_table_dict      = ['"unique_identifier" : "sample"',
                                    '"groups_of_interest" : [ ["DMBA"], ["TPA"], ["DMBA", "TPA"] ]'
                                    ].join(',\t').trim()


    wgs_trinuc_counts   = "$projectDir/assets/trinucleotide_counts/trinuc_counts.mus_musculus.tsv"

    vep_genome          = "GRCm38"
    vep_cache_version   = 102
    vep_out_format      = "tab"
    vep_params          = "--no_stats --cache --offline --symbol --protein --canonical"
    vep_species         = "mus_musculus"
    vep_cache           = "/workspace/datasets/vep"


    oncodrivefml               = false
    oncodriveclustl            = false
    oncodrive3d                = false
    omega                      = false
    omega_globalloc            = false
    signatures                 = false
    mutationrate               = false

    profileall                 = true
    profilenonprot             = false
    profileexons               = false
    profileintrons             = false

    consensus_panel_min_depth  = 500

}
