/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run bbg/deepcsa -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    // TODO nf-core: Specify the paths to your test data on nf-core/test-datasets
    // TODO nf-core: Give any required params for the test so that command line flags are not needed
    // input  = '/workspace/datasets/transfer/raquel_to_ferriol/deepCSA_test/mice.deepCSA.input.csv'
    // input  = '/workspace/nobackup/prominent/mice/results/2024-02-04_deepUMIcaller/deepCSA_input.csv'
    input  = '/workspace/nobackup/prominent/mice/results/2024-02-04_deepUMIcaller/deepCSA_input.med.csv'

    // Fasta references
    fasta = '/workspace/datasets/prominent/data/eve_data/mm10.fasta'

    features_table           = "/workspace/datasets/prominent/data/eve_data/sample_features_table.tsv"
    features_table_separator =  'tab'
    features_table_dict      = ['"unique_identifier" : "sample"',
                                    '"groups_of_interest" : [ ["DMBA"], ["TPA"], ["DMBA", "TPA"] ]'
                                    ].join(',\t').trim()


    wgs_trinuc_counts   = "$projectDir/assets/trinucleotide_counts/trinuc_counts.mus_musculus.tsv"

    vep_genome          = "GRCm38"
    vep_cache_version   = 102
    vep_out_format      = "tab"
    vep_params          = "--no_stats --cache --offline --symbol --protein --canonical"
    vep_species         = "mus_musculus"
    vep_cache           = "/workspace/datasets/vep"


    oncodrivefml               = false
    oncodriveclustl            = true
    oncodrive3d                = false
    omega                      = true
    omega_globalloc            = true
    signatures                 = true
    mutationrate               = true

    profileall                 = true
    profilenonprot             = true
    profileexons               = true
    profileintrons             = true

    consensus_min_depth        = 500

}
