/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: ENSEMBLVEP_VEP {
        ext.args   = {
            [
                "${params.vep_params}",
                params.vep_out_format ? "--${params.vep_out_format}" : '--tab',
            ].join(' ').trim()
        }
        publishDir = [
            enabled: false
        ]
    }

    withName: COMPUTEDEPTHS {
        ext.restrict_panel = params.use_custom_bedfile
        ext.minimum_depth  = params.use_custom_minimum_depth
        ext.args           = "-H"
        publishDir         = [
            enabled: false
        ]
    }


    withName: FILTEREXONS {
        ext.filtername = 'not_in_exons'
    }

    withName: FILTERPANEL {
        ext.filtername = 'not_covered'
    }

    withName: SUBSETDEPTHS {
        ext.prefix    = { ".subset_depths" }
        ext.args      = ''
        ext.args2     = '-s 1 -b 2 -e 2'
        ext.args3     = '-h'
        ext.extension = 'tsv'
        ext.header    = '1'
        publishDir    = [
            enabled: false
        ]
    }
    withName: SUBSETPANEL {
        ext.prefix    = { ".subset_panel" }
        ext.args      = ''
        ext.args2     = '-s 1 -b 2 -e 2'
        ext.args3     = '-h'
        ext.extension = 'tsv'
        ext.header    = '1'
        publishDir    = [
            enabled: false
        ]
    }

    withName: 'DEPTHS.*CONS' {
        ext.prefix    = { ".subset_depths" }
        ext.args      = ''
        ext.args2     = '-s 1 -b 2 -e 2'
        ext.args3     = '-h'
        ext.extension = 'tsv'
        ext.header    = '1'
        publishDir    = params.store_depths ? [:] : [enabled: false]
    }


    withName: SUBSETMUTATIONS {
        ext.prefix    = { ".subset_mutations" }
        ext.args      = ''
        ext.args2     = '-s 1 -b 2 -e 2'
        ext.args3     = '-h'
        ext.extension = 'tsv'
        ext.header    = '1'
        publishDir    = [
            enabled: false
        ]
    }

    withName: SUBSETPILEUP {
        ext.prefix    = { ".subset_pileup" }
        ext.args      = ''
        ext.args2     = '-s 1 -b 2 -e 2'
        ext.args3     = '-h'
        ext.extension = 'tsv'
        ext.header    = 'pile'
        publishDir    = [
            enabled: false
        ]
    }

    withName: 'BBGTOOLS:DEEPCSA:.*ALL:.*' {
        ext.prefix = { ".all" }
    }

    withName: 'BBGTOOLS:DEEPCSA:.*INTRONS:.*' {
        ext.prefix = { ".introns" }
    }

    withName: 'BBGTOOLS:DEEPCSA:.*PROT:.*' {
        ext.prefix = { ".prot_aff" }
    }

    withName: 'BBGTOOLS:DEEPCSA:.*NONPROT:.*' {
        ext.prefix = { ".non_prot_aff" }
    }

    withName: 'BBGTOOLS:DEEPCSA:.*EXONS:.*' {
        ext.prefix = { ".exons" }
    }

    // withName: "BBGTOOLS:DEEPCSA:.*SYNONYMOUS:.*" {
    //     ext.prefix       = { ".synonymous" }
    // }

    withName: VCF2MAF {
        ext.args = "--level ${params.confidence_level}"
    }

    withName: MAF2VCF {
        ext.args   = "--output-dir . --maf-from-deepcsa --sample-name-column SAMPLE_ID"
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/signatures/sigprofilermatrixgenerator/vcfs" },
                pattern: "**{vcf}",
            ]
        ]
    }




    withName: POSTPROCESSVEPPANEL {
        ext.canonical_only = params.panel_with_canonical
        publishDir         = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/postprocessveppanel" },
                pattern: "*.tsv",
            ]
        ]
    }

    withName: SUMANNOTATION {
        ext.hotspots_annotation = params.hotspots_annotation
    }

    withName: 'FILTERBATCH|MERGEBATCH|FILTERPANEL|VCF2MAF|COMPUTETRINUC|COMPUTEDEPTHS' {
        publishDir = [
            enabled: false
        ]
    }

    withName: PLOTMAF {
        ext.filters = {
            [
                ['"VAF" : "le ', "${params.germline_threshold}", '"'].join('').trim(),
                ['"DEPTH" : "ge ', "${params.mutation_depth_threshold}", '"'].join('').trim()
            ].join(',\t').trim()
        }
        ext.plots   = { ['"global":["per_sample", "per_gene", "filter_stats SAMPLE_ID n_rich,no_pileup_support,other_sample_SNP", "filter_stats canonical_SYMBOL n_rich,no_pileup_support,other_sample_SNP", "plot_stats SAMPLE_ID canonical_Consequence_broader,TYPE,MUTTYPE", "plot_stats canonical_SYMBOL canonical_Consequence_broader,TYPE,MUTTYPE"]'].join(',\t').trim() }
    }

    withName: PLOTSOMATICMAF {
        ext.filters = ""
        ext.plots   = { ['"global":["per_sample", "per_gene", "plot_stats SAMPLE_ID canonical_Consequence_broader,canonical_Protein_affecting,TYPE,MUTTYPE", "plot_stats canonical_SYMBOL canonical_Consequence_broader,canonical_Protein_affecting,TYPE,MUTTYPE"]'].join(',\t').trim() }
    }

    withName: PLOTOMEGA {
        errorStrategy = 'ignore'
    }


    withName: DEPTHSSUMMARY {
        ext.withingene = params.plot_depths
    }

    withName: '.*PLOTDEPTHSALLCONS:DEPTHSSUMMARY' {
        ext.prefix = { ".all_cons" }
    }

    withName: '.*PLOTDEPTHSEXONS:DEPTHSSUMMARY' {
        ext.prefix = { ".exons" }
    }

    withName: '.*PLOTDEPTHSEXONSCONS:DEPTHSSUMMARY' {
        ext.prefix = { ".exons_cons" }
    }


    withName: WRITEMAF {
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/germline_somatic" },
                pattern: "*{tsv.gz}",
            ]
        ]
    }

    withName: CLEANMUTATIONS {
        ext.filters       = {
            def baseFilters = [:]
            baseFilters["FILTER"] = params.filter_criteria.collect { "\"${it}\"" }
            if (!params.no_filter) {
                baseFilters["DEPTH"] = "ge ${params.mutation_depth_threshold}"
                baseFilters["VAF_distorted_expanded_sq"] = false
            }
            baseFilters
                .collect { key, value ->
                    "\"${key}\" : ${value instanceof List
                        ? value.toString()
                        : value instanceof Boolean
                            ? value
                            : "\"${value}\""}"
                }
                .join(',\t')
        }
        ext.output_prefix = '.clean'
        ext.output_fmt    = { ['"header": true'].join(',\t').trim() }
        publishDir        = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/clean_germline_somatic" },
                pattern: "*.tsv",
            ]
        ]
    }

    withName: SOMATICMUTATIONS {
        ext.output_prefix     = '.somatic'
        ext.output_fmt        = { ['"header": true'].join(',\t').trim() }
        ext.minimum_mutations = params.min_muts_per_sample
        publishDir            = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/clean_somatic" },
                pattern: "*.tsv",
            ]
        ]
    }

    // '"FILTER" : ["notcontains NM20", "notcontains p8", "notcontains n_rich", "notcontains cohort_n_rich_threshold", "notcontains cohort_n_rich", "notcontains no_pileup_support", "notcontains low_mappability", "notcontains not_covered" ]',
    withName: SOMATICMUTATIONS {
        ext.filters = {
            def baseFilters = [:]

            // Handle FILTER criteria
            if (params.filter_criteria_somatic) {
                baseFilters["FILTER"] = params.filter_criteria_somatic.collect { "\"${it}\"" }
            }

            if (!params.no_filter) {
                def vafThreshold = params.germline_threshold
                baseFilters += [
                    "VAF": "le ${vafThreshold}",
                    "vd_VAF": "le ${vafThreshold}",
                    "VAF_AM": "le ${vafThreshold}",
                ]
            }
            baseFilters
                .collect { key, value ->
                    "\"${key}\" : ${value instanceof List
                        ? value.toString()
                        : value instanceof Boolean
                            ? value
                            : "\"${value}\""}"
                }
                .join(',\t')
        }
    }

    withName: 'DOWNSAMPLE.*' {
        ext.downsample_prop = params.downsample_proportion
    }


    withName: FILTERBATCH {
        ext.repetitive_variant = params.repetitive_variant_thres
        ext.germline_threshold = params.germline_threshold
    }


    withName: TABLE2GROUP {
        ext.features  = params.features_table_dict
        ext.separator = params.features_table_separator
    }

    withName: GROUPGENES {
        ext.custom    = params.custom_groups
        ext.hotspots  = params.omega_withingene
        ext.separator = params.custom_groups_separator
    }

    // withName: 'EXPANDREGIONS' {
    //     ext.expansion = 0
    //     ext.using_bedfile = params.omega_autodomains | (params.omega_subgenic_bedfile as Boolean)
    // }

    // if (params.expected_mutated_cells){
    //     withName: "BBGTOOLS:DEEPCSA:EXPECTEDMUTATEDCELLS:SUBSETDEPTHS" {
    //     }
    // }


    withName: SUBSETMUTPROFILE {
        ext.filters    = {
            ['"TYPE" : "SNV"'].join(',\t').trim()
        }
        ext.output_fmt = {
            [
                '"header": true',
                '"columns": ["SAMPLE_ID", "CONTEXT_MUT", "MUT_ID", "ALT_DEPTH"]',
                '"colnames": ["SAMPLE_ID", "CONTEXT_MUT", "MUT_ID", "ALT_DEPTH"]',
            ].join(',\t').trim()
        }
        publishDir     = [
            enabled: false
        ]
    }

    withName: '.*NONPROT:SUBSETMUTPROFILE' {
        ext.filters    = {
            [
                '"TYPE" : "SNV"',
                '"Protein_affecting": "non_protein_affecting"',
            ].join(',\t').trim()
        }
        ext.output_fmt = {
            [
                '"header": true',
                '"columns": ["SAMPLE_ID", "CONTEXT_MUT", "MUT_ID", "ALT_DEPTH"]',
                '"colnames": ["SAMPLE_ID", "CONTEXT_MUT", "MUT_ID", "ALT_DEPTH"]',
            ].join(',\t').trim()
        }
        publishDir     = [
            enabled: false
        ]
    }


    withName: COMPUTE_MATRIX {
        ext.args = '--method unique \
                                --pseud 0 \
                                --per_sample \
                                --sigprofiler'
    }

    withName: COMPUTE_TRINUCLEOTIDE {
        ext.args = '--pseud 1'
    }

    withName: COMPUTE_PROFILE {
        ext.args = "--plot --wgs --sigprofiler"
    }

    withName: SUBSETMUTABILITY {
        ext.filters    = {
            ['"TYPE" : "SNV"'].join(',\t').trim()
        }
        ext.output_fmt = {
            [
                '"header": true',
                '"columns": ["SAMPLE_ID", "MUT_ID", "ALT_DEPTH", "SYMBOL"]',
                '"colnames": ["SAMPLE_ID", "MUT_ID", "ALT_DEPTH", "SYMBOL"]',
            ].join(',\t').trim()
        }
        publishDir     = [
            enabled: false
        ]
    }

    withName: COMPUTE_RELATIVE_MUTABILITY {
        ext.args   = "--adjust_local_density"
        publishDir = [
            enabled: false
        ]
    }

    withName: MUTABILITY_BGZIPTABIX {
        ext.args   = ''
        ext.args2  = '-b 2 -e 2'
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/relativemutability" },
                pattern: "*.{gz,gz.tbi}",
            ]
        ]
    }


    withName: SUBSET_DNDS {
        ext.filters    = ''
        ext.output_fmt = {
            [
                '"header": false',
                '"columns": ["SAMPLE_ID",  "CHROM_ensembl",  "POS", "REF", "ALT"]',
            ].join(',\t').trim()
        }
        publishDir     = [
            enabled: false
        ]
    }


    withName: SUBSETINDELS {
        ext.filters    = { ['"FILTER": "notcontains repetitive_variant"'].join(',\t').trim() }
        ext.output_fmt = {
            [
                '"header": true',
                '"columns": ["SAMPLE_ID",  "MUT_ID", "SYMBOL", "INDEL_INFRAME", "Protein_affecting", "TYPE", "MUT_ID"]',
                '"colnames": ["SAMPLE_ID",  "MUT_ID", "SYMBOL", "INDEL_INFRAME", "Protein_affecting", "TYPE", "MUT_ID"]',
            ].join(',\t').trim()
        }
        publishDir     = [
            enabled: false
        ]
    }


    withName: SUBSETMUTEPIVAFAM {
        ext.output_fmt = {
            [
                '"header": true',
                '"columns": ["CHROM", "canonical_SYMBOL", "canonical_Consequence_broader", "VAF_AM", "ALT_DEPTH_AM", "DEPTH_AM", "canonical_Protein_affecting", "TYPE", "VAF_ND", "ALT_DEPTH_ND", "DEPTH_ND", "VAF", "ALT_DEPTH", "DEPTH", "MUT_ID"]',
                '"colnames": ["CHROM", "GENE", "Consequence_broader", "VAF_AM", "ALT_DEPTH_AM", "DEPTH_AM", "Protein_affecting", "TYPE", "VAF_ND", "ALT_DEPTH_ND", "DEPTH_ND", "VAF", "ALT_DEPTH", "DEPTH", "MUT_ID"]',
            ].join(',\t').trim()
        }
        publishDir     = [
            enabled: false
        ]
    }
    withName: MUTATEDGENOMESFROMVAFAM {
        ext.recode_list = "${params.mutepi_genes_to_recode}"
    }


    withName: SUBSETONCODRIVECLUSTL {
        ext.filters    = { "" }
        ext.output_fmt = {
            [
                '"header": true',
                '"columns": ["CHROM_ensembl", "POS_ensembl", "REF_ensembl", "ALT_ensembl", "SAMPLE_ID"]',
                '"colnames": ["CHROMOSOME", "POSITION", "REF", "ALT", "SAMPLE"]',
            ].join(',\t').trim()
        }
        publishDir     = [
            enabled: false
        ]
    }

    withName: EXPECTEDMUTATEDCELLS {
        ext.metadata_file = params.features_table
    }


    withName: INTERVALSBED {
        ext.tool   = "oncodrivefml"
        publishDir = [
            enabled: false
        ]
    }

    withName: ONCODRIVECLUSTLBED {
        ext.tool   = "oncodriveclustl"
        publishDir = [
            enabled: false
        ]
    }

    withName: READSPOSBED {
        ext.tool   = "readsxposition"
        publishDir = [
            enabled: false
        ]
    }

    withName: ONCODRIVECLUSTL {
        ext.args = "-sim region_restricted \
                            -kmer 3 \
                            --clustplot \
                            --clustplotsig \
                            --qqplot \
                            --seed 123"
    }

    withName: SIGPROFILERASSIGNMENT {
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/signatures/sigprofilerassignment" },
                pattern: "**{txt,pdf}",
            ]
        ]
    }

    withName: SIGPROMATRIXGENERATOR {
        ext.args            = "--plot \
                            --tsb_stat \
                            --seqInfo \
                            --cushion 100"
        ext.genome_assembly = params.vep_genome == 'GRCh38'
            ? 'GRCh38'
            : params.vep_genome == 'GRCh37'
                ? 'GRCh37'
                : params.vep_genome == 'GRCm38'
                    ? 'mm10'
                    : params.vep_genome == 'GRCm39'
                        ? 'mm39'
                        : null
        publishDir          = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/signatures/sigprofilermatrixgenerator" },
                pattern: "**{txt,pdf,all}",
            ]
        ]
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml',
        ]
    }

    withName: MULTIQC {
        ext.args   = params.multiqc_title ? "--title \"${params.multiqc_title}\"" : ''
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }


    withName: RUNREGRESSIONSIGNORE {
        errorStrategy = 'ignore'
        ext.args      = "--total_plot ${params.total_plot} \
                        --response_and_total_subplots ${params.response_and_total_subplots} \
                        --make2 ${params.make2} \
                        --correct_pvals ${params.correct_pvals} \
                        --sign_threshold ${params.sign_threshold} \
                        --response_subplots ${params.response_subplots} \
                        --random_effects_vars ${params.random_effects_vars_regressions} \
                        --missing_values ignore"
    }
    withName: RUNREGRESSIONSCOHORT {
        errorStrategy = 'ignore'
        ext.args      = "--total_plot ${params.total_plot} \
                        --response_and_total_subplots ${params.response_and_total_subplots} \
                        --make2 ${params.make2} \
                        --correct_pvals ${params.correct_pvals} \
                        --sign_threshold ${params.sign_threshold} \
                        --response_subplots ${params.response_subplots} \
                        --random_effects_vars ${params.random_effects_vars_regressions} \
                        --missing_values cohort"
    }

    withName: RUNREGRESSIONSMEAN {
        errorStrategy = 'ignore'
        ext.args      = "--total_plot ${params.total_plot} \
                        --response_and_total_subplots ${params.response_and_total_subplots} \
                        --make2 ${params.make2} \
                        --correct_pvals ${params.correct_pvals} \
                        --sign_threshold ${params.sign_threshold} \
                        --response_subplots ${params.response_subplots} \
                        --random_effects_vars ${params.random_effects_vars_regressions} \
                        --missing_values mean_samples"
    }

    withName: 'SITESFROMPOSITIONS|SUMMARIZE_ANNOTATION|SIGPROFILERASSIGNMENT|ONCODRIVECLUSTL|POSTPROCESSVEPPANEL' {
        ext.assembly = params.vep_genome == 'GRCh38'
            ? 'hg38'
            : params.vep_genome == 'GRCm38'
                ? 'mm10'
                : params.vep_genome == 'GRCm39'
                    ? 'mm39'
                    : null
    }
}

includeConfig 'tools/panels.config'
includeConfig 'tools/omega.config'
includeConfig 'tools/mutdensity.config'
includeConfig 'tools/oncodrive3d.config'
includeConfig 'tools/oncodrivefml.config'
includeConfig 'tools/hdp_sig_extraction.config'
