/*
This config is used to cancel all the filters in the clean and somatic mutations steps,
the only filters that can be applied are based on the FILTER field in both cases, nothing else
*/

process {

    withName: 'CLEANMUTATIONS' {
        ext.filters     = { ['"FILTER" : ' + params.filter_criteria.collect { "\"$it\"" }.toString()].join(',\t').trim() }
        ext.output_prefix = '.clean'
        ext.output_fmt  = { ['"header": true'].join(',\t').trim() }
    }

    withName: 'SOMATICMUTATIONS' {
        ext.filters     = { ['"FILTER" : ' + params.filter_criteria_somatic.collect { "\"$it\"" }.toString()].join(',\t').trim() }
    }

}