/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run bbglab/deepCSA -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    // TODO nf-core: Specify the paths to your test data on nf-core/test-datasets
    // TODO nf-core: Give any required params for the test so that command line flags are not needed
    input = "/data/bbg/datasets/transfer/ferriol_deepcsa/test/deepCSA_input.bladder_med.small_cohort.med.csv"

    features_table           = "/data/bbg/datasets/transfer/ferriol_deepcsa/test/small_cohort_bladder.tsv"
    features_table_separator =  'tab'
    features_table_dict      =  ['"unique_identifier" : "SAMPLE_ID"',
                                    '"groups_of_interest" : [ ["BLADDER_LOCATION"], ["BLADDER_LOCATION", "SEX"], ["BLADDER_LOCATION", "SEX", "SMOKING_STATUS"] ]'
                                    ].join(',\t').trim()

    use_custom_minimum_depth    = 10

    custom_groups              = false
    //custom_groups_file         = "/workspace/datasets/transfer/ferriol_deepcsa/genes_per_chromosome_band.tsv"
    custom_groups_separator     = 'tab'

    use_custom_minimum_depth    = 100

    customize_annotation        = false
    custom_annotation_tsv       = "/data/bbg/datasets/transfer/ferriol_deepcsa/custom_regions/TERT_regions.tsv"

    hotspots_annotation         = true
    hotspots_definition_file    = '/data/bbg/datasets/transfer/ferriol_deepcsa/hotspots/all_intogen_v2024.header.tsv'

    omega_withingene            = false
    // omega_hotspots_bedfile     = "/data/bbg/datasets/transfer/ferriol_deepcsa/PanCancer_custom.annotated.with_hotspots.complete.cleaned.deepCSA.bed6.bed"
    // omega_hotspots_bedfile     = "/data/bbg/datasets/transfer/ferriol_deepcsa/kidney_panel.hotspots.bed4.bed"
    // hotspot_expansion           = 30

    oncodrivefml               = false
    oncodriveclustl            = false

    omega                      = false
    omega_multi                = false
    omega_globalloc            = false
    omega_mutabilities         = false
    site_comparison_grouping   = 'all'

    omega_autodomains           = false
    omega_autoexons             = false

    oncodrive3d                = false
    o3d_raw_vep                = false
    o3d_plot                   = false
    o3d_plot_chimerax          = false
    store_depths               = false


    plot_depths                = false

    signatures                 = false
    mutationdensity            = false

    mutated_cells_vaf          = false
    expected_mutated_cells     = false
    dnds                       = false

    indels                     = false

    profileall                 = true
    profilenonprot             = false
    profileexons               = false
    profileintrons             = false
    all_duplex_counts          = true

    consensus_compliance        = 0.8
    selected_genes              = 'KMT2D,ARID1A,KDM6A,RBM10,EP300,STAG2,CREBBP,NOTCH2,CDKN1A,KMT2C,TP53,RB1'

    regressions                 = false

    filter_criteria             =  ["notcontains NM20", "notcontains p8", "notcontains n_rich", "notcontains cohort_n_rich_threshold", "notcontains cohort_n_rich", "notcontains no_pileup_support", "notcontains low_mappability", "notcontains not_covered" ]
    filter_criteria_somatic     =  ["notcontains gnomAD_SNP"]
    no_filter                   = false


}

process {
    withLabel:process_high_memory {
        cpus    = {  2 * task.attempt }
        memory  = {  15.GB * task.attempt }
    }

    withLabel:process_high {
        cpus   = {  2    * task.attempt }
        memory = {  16.GB * task.attempt }
        time   = {  1.h  * task.attempt }
    }


}

