/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run bbg/deepcsa -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // TODO: add a real small test
    // // Limit resources so that this can run on GitHub Actions
    max_cpus   = 16
    max_memory = '60.GB'
    max_time   = '6.h'

    // Input data
    // TODO nf-core: Specify the paths to your test data on nf-core/test-datasets
    // TODO nf-core: Give any required params for the test so that command line flags are not needed
    input  = 'assets/input.csv'

    // Fasta references
    fasta = '/workspace/datasafe/prominent/refs/gatk/Homo_sapiens_assembly38.fasta'

    annotated_depth  = "/workspace/datasets/transfer/raquel_to_ferriol/deepCSA_test/kidney_annotated_depths_fake_duplexome.tsv.gz"
    bedf             = "/workspace/datasets/transfer/raquel_to_ferriol/deepCSA_test/kidneypanel4oncodrivefml.filtered.lowcomp.filtered.unmappable.bed5.header.bed"
    bedf_annotated   = "/workspace/datasets/transfer/raquel_to_ferriol/deepCSA_test/kidney.target_bed.tab.compact.tsv"
}
