/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run bbglab/deepCSA -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    // TODO nf-core: Specify the paths to your test data on nf-core/test-datasets
    // TODO nf-core: Give any required params for the test so that command line flags are not needed
    input                      = "/home/fcalvet/projects/deepCSA/tests/test_data/input_no_bam.csv"
    use_custom_depths          = true
    custom_depths_table        = 'https://raw.githubusercontent.com/bbglab/DeepClone_protocol/main/test_datasets/deepCSA/testdata/depth/all_samples_indv.depths.tsv.gz'

    // input_maf                  = "/data/bbg/datasets/transfer/ferriol_deepcsa/test/deepCSA_input.bladder_med.small_cohort.maf"
    // use_custom_depths          = true
    // custom_depths_table        = "/data/bbg/datasets/transfer/ferriol_deepcsa/test/deepCSA_input.bladder_med.small_cohort.depths.tsv.gz"


    // features_table              = "/data/bbg/datasets/transfer/ferriol_deepcsa/test/small_cohort_bladder.tsv"
    // features_table_separator    =  'tab'
    // features_unique_identifier  = "SAMPLE_ID"
    // features_groups_list        = '[ ["BLADDER_LOCATION"], ["BLADDER_LOCATION", "SEX"], ["BLADDER_LOCATION", "SEX", "SMOKING_STATUS"] ]'
    plot_only_allsamples        = true

    use_custom_minimum_depth   = 10

    custom_groups              = false
    //custom_groups_file         = "/workspace/datasets/transfer/ferriol_deepcsa/genes_per_chromosome_band.tsv"
    custom_groups_separator    = 'tab'

    use_custom_minimum_depth   = 100

    customize_annotation       = true
    custom_annotation_tsv      = "/data/bbg/datasets/transfer/ferriol_deepcsa/custom_regions/TERT_regions.tsv"

    hotspots_annotation        = true
    hotspots_definition_file   = '/data/bbg/datasets/transfer/ferriol_deepcsa/hotspots/all_intogen_v2024.header.tsv'

    create_subgenic_regions    = true
    // subgenic_bedfile     = "/data/bbg/datasets/transfer/ferriol_deepcsa/PanCancer_custom.annotated.with_hotspots.complete.cleaned.deepCSA.bed6.bed"
    // subgenic_bedfile     = "/data/bbg/datasets/transfer/ferriol_deepcsa/kidney_panel.hotspots.bed4.bed"
    // hotspot_expansion           = 30

    oncodrivefml               = true
    oncodriveclustl            = false

    omega                      = true
    omega_multi                = true
    omega_plot                 = true
    omega_globalloc            = true
    omega_mutabilities         = true
    site_comparison_grouping   = 'all'

    autodomains                 = true
    autoexons                   = true

    oncodrive3d                = true
    o3d_raw_vep                = true
    o3d_plot                   = true
    o3d_plot_chimerax          = false
    store_depths               = false
    gnomad_af_threshold        = 1e-3


    plot_depths                = false

    signatures                 = true
    mutationdensity            = true

    mutated_cells_vaf          = false
    expected_mutated_cells     = false
    dnds                       = true

    indels                     = true

    profileall                 = true
    profilenonprot             = false
    profileexons               = false
    profileintrons             = false

    consensus_compliance       = 0.8
    selected_genes             = 'KMT2D,ARID1A,KDM6A,RBM10,EP300,STAG2,CREBBP,NOTCH2,CDKN1A,KMT2C,TP53,RB1'

    regressions                = true

    filter_criteria            = ["notcontains NM20", "notcontains nanoseq_noise", "notcontains p8", "notcontains n_rich", "notcontains cohort_n_rich_threshold", "notcontains cohort_n_rich", "notcontains no_pileup_support", "notcontains low_mappability", "notcontains not_covered"]
    filter_criteria_somatic    = ["notcontains gnomAD_SNP", "notcontains nanoseq_snp"]
    no_filter                  = false
}

process {
    withLabel: process_high_memory {
        cpus   = { 2 * task.attempt }
        memory = { 15.GB * task.attempt }
    }

    withLabel: process_high {
        cpus   = { 2 * task.attempt }
        memory = { 16.GB * task.attempt }
        time   = { 1.h * task.attempt }
    }
}
