/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run bbg/deepcsa -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // TODO: add a real small test
    // // Limit resources so that this can run on GitHub Actions
    max_cpus   = 16
    max_memory = '60.GB'
    max_time   = '6.h'

    // Input data
    // TODO nf-core: Specify the paths to your test data on nf-core/test-datasets
    // TODO nf-core: Give any required params for the test so that command line flags are not needed
    input  = '/workspace/datasets/transfer/raquel_to_ferriol/deepCSA_test/mice.deepCSA.input.csv'

    // Fasta references
    fasta = '/workspace/datasets/prominent/data/eve_data/mm10.fasta'


    vep_genome          = "GRCm38"
    vep_cache_version   = 102
    vep_out_format      = "tab"
    vep_params          = "--no_stats --cache --offline --symbol --protein --canonical"
    vep_species         = "mus_musculus"
    vep_cache           = "/workspace/datasets/vep"


    oncodrivefml               = false
    oncodriveclustl            = true
    oncodrive3d                = false

}
