/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for adding small patches to fix or ignore temporary issues
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {

    withName: 'COMPARE_SIGNATURES' {
        errorStrategy = 'ignore'
    }

    withName: 'BBGTOOLS:DEEPCSA:MUTATEDCELLSVAF:MUTATEDGENOMESFROMVAFAM' {
        errorStrategy = 'ignore'
        maxRetries = 1
    }

    withName: "BBGTOOLS:DEEPCSA:EXPECTEDMUTATEDCELLS:.*" {
        errorStrategy = 'ignore'
        maxRetries = 1
    }


}
