params {
    mutationdensity             = true

    profileall                  = true

    oncodrivefml                = true
    oncodriveclustl             = false

    oncodrive3d                 = true
    o3d_raw_vep                 = true
    o3d_plot                    = true


    omega                       = true
    omega_multi                 = true
    omega_globalloc             = true
    omega_mutabilities          = true
    site_comparison_grouping    = 'all'
    omega_plot                  = true

    omega_withingene            = true
    omega_autodomains           = true
    omega_autoexons             = true

    mutated_cells_vaf           = true
    mutepi_genes_to_recode      = null

    indels                      = true

    signatures                  = true

}
